api-prefix: https://$YOUR_SERVICE_APP_NAME_HERE.cfapps.io
github-url: https://github.com/Pivotal-Field-Engineering/big-green-button-demo.git
google-maps-api-key: $YOUR_GOOGLE_MAPS_API_KEY_HERE
pws-org: $YOUR_ORG_HERE
pws-password: $YOUR_PASSWORD_HERE
pws-space: $YOUR_SPACE_HERE
pws-username: $YOUR_USERNAME_HERE
service-app-name: $YOUR_SERVICE_APP_NAME_HERE
www-app-name: $YOUR_WWW_APP_NAME_HERE
